:root {
    --user-list-max-width: 260px
}

#user-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    width: var(--user-list-width);
    height: var(--board-size);
    background-color: transparent;
    margin-right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: var(--user-list-max-width);
}

.user-row {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 4px;
    background-color: white;
    margin-bottom: 4px;
    box-shadow: var(--container-shadow);
}

.user-row.correct-guess {
    background: linear-gradient(180deg, #B0FFA2 0%, #9BFF6E 100%);
}

.user-row p {
    margin: 0;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.current-user {
    background-color: #dedede;
}

.current-user p {
    font-weight: bold;
}

.user-row .user-avatar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.user-row .user-avatar {
    max-width: 40px;
    height: 40px;
}

.user-row .user-username-points {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 8px;
}

.user-row .user-username {
    font-family: 'Wendy One', 'Arial';
    font-size: 15px;
    font-weight: 900;
    display: flex;
    align-items: center;
}

.user-row .user-points {
    font-family: 'Wendy One', 'Arial';
    font-weight: 900;
    color: var(--secondary-color);
}

.user-row .user-medal {
    height: 30px;
}

#drawing-user-pencil {
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

#admin-user-shield {
    height: 20px;
    margin-left: 5px;
}