.container {
    display: contents;
}

#board-container {
    overflow: hidden;
    margin: auto;
    width: var(--board-size);
    height: var(--board-size);
    background: white;
}

#board {
    transform-origin: top left;
    width: 800px;
    height: 800px;
}

#pen-cursor {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: 999;
    display: none;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

#board-container:hover #pen-cursor {
    display: block;
}

#board-container:hover {
    cursor: none;
}

#board-container.no-draw {
    pointer-events: none !important;
}

#board-container.no-draw:hover #pen-cursor {
    display: none;
}

#board-container.no-draw:hover {
    cursor: not-allowed;
}