#color-picker-container {
    color: black;
    -webkit-text-fill-color: var(--modal-background-color);
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 1px 1px black;
    font-size: 24px;
    font-family: 'Tahoma';
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#brushsize-container {
    color: black;
    -webkit-text-fill-color: var(--modal-background-color);
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 1px 1px black;
    font-size: 24px;
    font-family: 'Tahoma';
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}

#tools-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: fit-content;
    padding: 10px 20px;
    height: 40px;
    box-shadow: var(--container-shadow);
}

#guess-word-container,
#draw-word-container {
    display: inline-block;
    color: black;
    -webkit-text-fill-color: var(--main-color);
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 1px 1px black;
    font-family: 'Tahoma', 'Arial';
    font-size: 28px;
    font-weight: 900;
}

#draw-word-container {
    margin-left: auto;
}

.guess-word-letter {
    -webkit-text-fill-color: var(--lobby-background-color);
    margin-left: 6px;
}

.draw-word-letter {
    -webkit-text-fill-color: var(--lobby-background-color);
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 12vw;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}


input[type="range"]::-webkit-slider-runnable-track {
    background: var(--drawing-color);
    height: 0.5rem;
    border-radius: 3px;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
    background: var(--drawing-color);
    height: 0.5rem;
    border-radius: 3px;
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: -8px;
    /* Centers thumb on the track */
    background-color: var(--drawing-color);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}



input[type="range"].light::-webkit-slider-runnable-track {
    border: 2px solid black;
}

input[type="range"].light::-webkit-slider-thumb {
    border: 2px solid black;
}


input[type="range"].dark::-webkit-slider-runnable-track {
    border: 2px solid #aaa;
}

input[type="range"].dark::-webkit-slider-thumb {
    border: 2px solid #aaa;
}


/* Color input styles */
input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}

input[type="color"].light::-webkit-color-swatch {
    border-radius: 50%;
    border: 4px solid #000000;
}

input[type="color"].light::-moz-color-swatch {
    border-radius: 50%;
    border: 4px solid #000000;
}

input[type="color"].dark::-webkit-color-swatch {
    border-radius: 50%;
    border: 4px solid #aaa;
}

input[type="color"].dark::-moz-color-swatch {
    border-radius: 50%;
    border: 4px solid #aaa;
}