:root {
    --container-padding: 20px;
    --header-height: 100px;
    --user-list-width: 80px;
    --board-size: min(90vw - 2 * var(--container-padding) - var(--header-height) - var(--user-list-width), 90vh - 2 * var(--container-padding) - var(--header-height) - var(--user-list-width));
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    background: linear-gradient(45deg, #03A9F4, #4CAF50);
    padding: var(--container-padding);
}

.color-picker-container {
    text-align: center;
    display: inline;
    color: white;
}

.brushsize-container {
    display: inline;
    color: white;
    margin-left: 12px;
}

.tools-section {
    height: var(--header-height);
    text-align: center;
}

.row {
    display: flex;
    justify-content: stretch;
    width: 100%;
    height: fit-content;
}

#user-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    width: var(--user-list-width);
    height: var(--board-size);
    background-color: #aaa;
}

#user-list-header {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-align: center;
    border-bottom: 2px solid black;
}

.user-row {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px 10px;
}

.user-row p {
    margin: 0;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.current-user p {
    font-weight: bold;
}

#board-container {
    overflow: hidden;
    margin: auto;
    width: var(--board-size);
    height: var(--board-size);
    background: white;
}

#board {
    transform-origin: top left;
    width: 800px;
    height: 800px;
}

#chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    width: var(--user-list-width);
    height: var(--board-size);
    background-color: #aaa;
}

#chat-header {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-align: center;
    border-bottom: 2px solid black;
}

#pen-cursor {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: 999;
    display: none;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

#board-container:hover #pen-cursor {
    display: block;
}

#board-container:hover {
    cursor: none;
}